body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 5.625rem;
  margin: 30px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color:  #66BFBF;
}

h2 {
  font-size: 2rem;
  color:  #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:  #11999E
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color:  #11999E
}

p {
  line-height: 2;
}

.top-container {
  position: relative;
  background-color: #E4F9F5;
  padding-top: 250px;
}

.middle-container {
margin: 100px 0;
}

.bottom-container {

  padding: 70px 10px 20px;
}

.skill-row {
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto;
}

.pro {
  text-decoration: underline;
}
.sports {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 50px;
}

.contact-message {
  margin: 40px auto 20px;
}


.heading {
  position: absolute;
  top: 120px;
  bottom: 670px;
  right: 580px;
  font-size: 90px;
}

.footer-link {
   color:  #11999E;
   line-height: 2;
   padding: 20px;
}

/* .cricket-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code-img {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.nss-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.jims-img {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.enigma-img {
  width: 25%;
  float: left;
  margin-right: 30px;
} */


.border {
  border-style: none;
  border-top-style: dotted;
  border-color:#646666 ;
  border-width: 5px;
  width: 10%;
  margin: 100px auto;
}

a {
  color: #11999E;
  margin: 5px 5px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}


.contact-me {
  line-height: 2;
}

.copyright {
  color: #073E3D ;
  font-size: 0.75rem;
  padding: 20px 0;
}

/* .btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: open serif;
   font-size: 20px;
   font-weight: 100;
   padding: 5px 10px 5px 10px;
   -webkit-box-shadow: 0 1px 20px 0 #000000;
   -moz-box-shadow: 0 1px 20px 0 #000000;
   box-shadow: 0 1px 10px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
*/
.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}

/* TinDog CSS Section */

#testimonials {
  background-color: #C1FCFB;
}

.container-fluid {
  padding: 7% 15%;
}


.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
